.container {
    display:grid;
    padding: 15px;
}
.item1 {
    border-bottom: 1px solid rgb(222, 221, 221);
    padding:10px;
    padding-bottom: 15px;
    display:grid;
    grid-template-columns: 1fr 200px;
}
.filter:hover {
    background: silver;
}
.item2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.see {
    text-align: left;
}
.box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
input {
    font-size: 25pt;
    font-weight: bold;
    border:none;
}
.item3 {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 100px;
}
.수정 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.button:hover {
    background: rgb(234, 234, 234);
}
.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    color:rgb(160, 160, 160);
    margin-top: 15px;
}
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    text-align: right;
}
.days > :nth-child(7n+1) {
    background-color: rgb(240, 240, 240);
}
.days > :nth-child(7n+7) {
    background-color: rgb(240, 240, 240);
}
.day {
    border: 1px solid gray;
    height: 105px;
    padding: 10px;
}
.LastMonth {
    color:rgb(160, 160, 160)
}